html {
  background-color: #f5f5f5;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  text-shadow: 0px 0px 2px rgba(112, 112, 112, 0.068);
}

main {
  margin: auto;
  margin-top: 2rem;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.shoe {
  width: 32rem;
  min-width: 32rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: center;
  border: 0px solid transparent;
  border-radius: 25px;
  height: max-content;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.068);
  background-size: 100% 21rem;
  background-repeat: no-repeat;
}

.shoe1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgb(255, 255, 255) 100%
    ),
    url("./images/shoe-blue.avif");
}

.shoe2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgb(255, 255, 255) 100%
    ),
    url("./images/shoe-white.avif");
}

.shoe3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgb(255, 255, 255) 100%
    ),
    url("./images/shoe-greenish.avif");
}
.picture {
  height: 21rem;
  position: relative;
}

.alert-badge {
  position: absolute;
  background-color: #f5f5f5da;
  padding: 0.15rem 0.8rem 0.15rem 0.8rem;
  border: 0.3rem solid transparent;
  border-radius: 0.3rem;
  width: max-content;
  top: 1rem;
  right: -14.8rem;
  transition-duration: 200ms;
}

.alert-badge:hover {
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.548);
}

.alert-text {
  font-weight: 900;
  display: inline-block;
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 0.06rem;
}

.photographer-info {
  position: absolute;
  left: -15.1rem;
  bottom: 1.5rem;
  color: #616161d7;
  font-size: 0.8rem;
  width: max-content;
}

.article-description-wrapper {
  background-color: rgb(255, 255, 255);
  color: #7e7e7e;
  margin: 0 1.3rem 0 1.3rem;
  height: 11.7rem;
}

.shoe-name {
  font-size: 1.55rem;
  font-weight: 900;
  color: black;
}

.shoe-description {
  font-size: 1.05rem;
  line-height: 1.6;
  font-weight: 550;
}

.price-and-buy-wrapper {
  background-color: #485fb9;
  margin: 2.2rem 1.3rem 1.3rem 1.3rem;
  padding: 1.3rem 1rem 1rem 1rem;
  width: 85%;
  background-color: #f5f5f5;
  border: 0 solid transparent;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.price {
  background-color: white;
  padding: 1rem;
  width: 90%;
  border: 0 solid transparent;
  border-radius: 7px;
  display: flex;
  font-size: 1.1rem;
}

.price-text {
  font-size: 1.37rem;
  font-weight: 900;
  margin: 0 auto 0;
}

.size-quant {
  display: flex;
  gap: 6rem;
  width: 98%;
  padding: 0;
  margin: 0;
  color: #7e7e7e;
  font-size: 1.15rem;
}

.size-wrapper,
.quant-wrapper {
  display: flex;
  gap: 0.95rem;
}

.quant-drop,
.size {
  width: 4rem;
  border: 0;
}

.color {
  display: flex;
  flex-direction: row;
  width: 98%;
  font-size: 1.1rem;
  color: #7e7e7e;
  gap: 0.7rem;
  align-items: center;
  margin-top: 0.5rem;
}

.color-select {
  margin-right: 0;
}

.color-radial {
  appearance: none;
  height: 1.8rem;
  width: 1.8rem;
  transition-duration: 100ms;
  border-radius: 90%;
  box-shadow: 0 0 1px 2px rgba(128, 128, 128, 0.144);
}
.s1-color1 {
  background: #1f55af;
}
.s1-color2 {
  background: #da4841;
}

.s1-color3 {
  background: black;
}

.s2-color1 {
  background: linear-gradient(90deg, rgb(152, 151, 55) 50%, rgb(0, 0, 0) 50%);
}
.s2-color2 {
  background: linear-gradient(90deg, rgb(87, 139, 216) 50%, rgb(0, 0, 0) 50%);
}
.s2-color3 {
  background: linear-gradient(90deg, rgb(211, 101, 141) 50%, rgb(0, 0, 0) 50%);
}

.s3-color1 {
  background: linear-gradient(
    90deg,
    rgb(206, 51, 41) 50%,
    rgb(255, 255, 255) 50%
  );
}
.s3-color2 {
  background: linear-gradient(90deg, rgb(2, 6, 9) 50%, rgb(255, 255, 255) 50%);
}

.color-radial:hover,
.color-radial:active,
.color-radial:focus {
  box-shadow: 0 0 7px 2px rgba(7, 10, 36, 0.486);
}

.add-to-cart {
  background-color: #485fb9;
  border: none;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 1.2rem;
  width: 97%;
  border: 0 solid transparent;
  border-radius: 7px;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
  height: 3.5rem;
  text-shadow: none;
  transition-duration: 100ms;
}

.add-to-cart:hover {
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.322);
  color: rgb(255, 255, 255);
  background-color: rgb(52, 78, 180);
}
.add-to-cart:active {
  box-shadow: 0 0 7px 2px rgba(13, 13, 53, 0.534);
  color: rgb(255, 255, 255);
  background-color: rgb(56, 89, 221);
}
